# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Monitor outputs
monitor-report.json
public/news/history.json
public/news/monitor-report.json
public/news/home/history.json
public/news/home/monitor-report.json
public/news/pc/home/history.json
public/news/pc/home/monitor-report.json
public/news/pc/view/history.json
public/news/pc/view/monitor-report.json
public/news/view/history.json
public/news/view/monitor-report.json
public/pann/history.json
public/pann/monitor-report.json
public/pann/home/history.json
public/pann/home/monitor-report.json
public/pann/pc/home/history.json
public/pann/pc/home/monitor-report.json
public/pann/pc/view/history.json
public/pann/pc/view/monitor-report.json
public/pann/view/history.json
public/pann/view/monitor-report.json

.vercel
